
body, td, th {
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

#header_container {
	background: #3f73a5;
	padding: 22px 0;
}

#header_container > header,
#content_container > #content {
	width: 996px; margin: 0 auto;
}

#header_container > header h1 {
	color: #eee; font-weight: bold;
}

#content_container {

}

#content_container pre {
	font-size: 80%; height: 500px; padding: 5px; overflow: auto;
	background: #eee; color: #222; margin: 5px;
}

#content_container > #content {

}

#benchmark {
	position: fixed; bottom: 0; right: 0; color: #777;
}

#benchmark span {
	display: inline-block; font-size: 80%; margin: 5px 10px;
	font-family: Arial, sans-serif;
}

#benchmark span span {
	font-family: Verdana, Arial, sans-serif;
}
