/* @import url('http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700,700italic'); */

body, td, th {
	font-family: "Ubuntu", "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

body {
	background: #eee url('images/background.jpg') repeat top left;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 125%;
}

h5 {
	font-size: 100%;
}

#header_container {
	background: #3f73a5; background: rgba(60, 115, 165, 0.95);
	
	box-shadow: 0 0 10px rgba(60, 115, 165, 0.20);
	
	text-shadow: 0 0 5px #030D15;
	
	border-bottom: 1px solid #3f73a5;
}

.content_codeigniter3 #header_container {
	background: rgba(250, 85, 35, 0.90);
  	
  	box-shadow: 0 0 10px rgba(250, 85, 35, 0.20);
  	text-shadow: 0 0 5px #8a361f;
  	border-color: #8a361f;
}

.content_codeigniter3 #header_container > header {
	background: url('images/header-codeigniter.png') no-repeat center center;
	background-position: -10px 50%;
  	background-size: auto 100%;
}

#header_container > header,
#content_container > #content,
#site_navigation {
	width: 960px; margin: 0 auto;
	padding: 22px 0;
}

#content_container > #content.narrow {
	width: 900px;
}

#header_container > header h1 {
	color: #eee; font-weight: bold;
}

#site_navigation, #site_navigation_container {
	background: #333; color: #eee;
}

#site_navigation_container {
	border-top: 4px solid #222;
	border-bottom: 1px solid #222;
	position: relative;
}

#site_navigation {
	padding: 0; 
}

#site_navigation, #site_navigation li, #site_navigation li a {
	height: 40px; line-height: 40px;
}

#site_navigation .navigation li.active, #site_navigation .navigation li.active a {
	background: #222;
}

#site_languages {
	margin-left: 20px;
}

#content_container {

}

pre {
	font-size: 80%; max-height: 500px; min-height: 100px; padding: 5px; overflow: auto;
	background: #eee; color: #222; margin: 5px;
}

#content_container > #content {

}

#content article {
	margin: 10px 0; padding: 10px 0; border-bottom: 2px dotted #ddd;
}

#content footer {
	text-align: right; font-size: 80%;
}

#benchmark {
	position: fixed; bottom: 0; right: 0; color: #777;
}

#benchmark span {
	display: inline-block; font-size: 80%; margin: 5px 10px;
	font-family: Arial, sans-serif;
}

#benchmark span span {
	font-family: Verdana, Arial, sans-serif;
}






p.left {
	text-align: left; float: none !important;
}

p.center {
	text-align: center; float: none !important;
}

p.right {
	text-align: right; float: none !important;
}

p.justify {
	text-align: justify; float: none !important;
}


